@import '../../styles/settings.scss';

.checkout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px 10px;
  p {
    font-weight: bold;
  }
  span {
    color: $orange;
  }
  .btn-checkout {
    background-color: $orange;
    text-align: center;
    color: $light;
    border: none;
    font-family: $text-font;
    cursor: pointer;
  }
}
